<h1 th:text="${fullname} + '\'s profile'" />

<div class="two-column">
	<div>
		<span class="list-title">Watched</span>
		<ol class="display-list">
			<li th:each="movie : ${watchedMovies}">
				<div th:text="${movie}" th:onclick="'viewDetails(\'' + ${movie} + '\')'"></div>
			</li>
		</ol>
	</div>
	<div>
		<span class="list-title">Want to Watch</span>
		<ol class="display-list">
			<li th:each="movie : ${moviesToWatch}">
				<div th:text="${movie}" th:onclick="'viewDetails(\'' + ${movie} + '\')'"></div>
			</li>
		</ol>
	</div>
</div>